/* Layout
-------------------------------------------------*/
body {
    background: url(../img/fundo3.png);
    font: 14px Helvetica, Arial, sans-serif;
}

/* header
-------------------------------------------------*/
.cor-barra {
    background: #5c884e;
}

#nav-principal {
    background: #8c915f;
    margin-top: -10px;
}

.navbar-expand-sm .navbar-nav .nav-link {
    color: #1a1a1a;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 20px;
}

.navbar-expand-sm .navbar-nav .nav-link:hover {
    color: #ffffff;
    background: #1a1a1ab6;
    transition: background 0.5s;
}

.home a#home,
.biografia a#biografia,
.campanha a#campanha,
.contato a#contato {
    background: #1a1a1ab6;
    color: #ffffff;
}

/* section sobre
-------------------------------------------------*/

.caixa {
    padding: 30px 15px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

/* section campanha publicitária
-------------------------------------------------*/
.foto img {
    width: 100%;
    border: 10px solid #1a1a1a;
}

/* section contato
-------------------------------------------------*/
.input-group {
    margin-bottom: 20px;
}

.temas {
    margin-top: 30px;
}

.area-texto {
    margin-top: 20px;
}

#botao {
    width: 100px;
    text-transform: uppercase;
    margin-top: 10px;
}

.btn-primary {
    background: #5c884e;
    border: 1px solid #8c915f;
}

.btn-primary:hover {
    background: #44b920;
    border: 1px solid #8c915f;
}

/* tipografia
-------------------------------------------------*/
h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

p {
    text-align: justify;
}

/* rodapé
-------------------------------------------------*/
footer {
    padding: 10px 0;
    color: #1a1a1a;
    text-transform: uppercase;
    margin-top: 10px;
}

/* Responsividade
-------------------------------------------------*/
/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) {
    
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Dispositivos mÃĐdios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    
}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container { /* Define a largura máxima da página */
        max-width: 900px;
    }
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
    .container { /* Define a largura máxima da página */
        max-width: 900px;
    }
}